<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.harbour-project.wxHarbour.__APPNAME__</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>__APPNAME__</string>
	<key>CFBundleIconFile</key>
	<string>harbour.icns</string>
	<key>CFBundleName</key>
	<string>__APPNAME__</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.0</string>
	<key>CFBundleGetInfoString</key>
	<string>__APPNAME__ version 0.4.0, (C) 2009 wxHarbour</string>
	<key>CFBundleLongVersionString</key>
	<string>0.4.0, (C) 2009 wxHarbour</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2009 wxHarbour</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
